---
# Common baseline tasks
- name: Ensure common packages are present
  community.general.pacman:
    name: "{{ common_packages }}"
    state: present
    update_cache: false
  tags:
    - packages
    - common

- name: Ensure journald persistent storage
  ansible.builtin.lineinfile:
    path: /etc/systemd/journald.conf
    regexp: '^#?Storage='
    line: 'Storage=persistent'
  notify: restart journald
  tags:
    - journald
    - common
